body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.reg-form {
    box-sizing: border-box;
    background-color: #fff;
    width: 500px;
    height: 500px;
}